body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:679px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20116 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:50px;
  width:360px;
  height:679px;
}
#u20117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20120 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:55px;
  width:30px;
  height:30px;
}
#u20121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20122 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:62px;
  width:29px;
  height:16px;
}
#u20123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20124 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:62px;
  width:57px;
  height:16px;
}
#u20125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20126 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:360px;
  height:199px;
}
#u20127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u20128 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:99px;
  width:120px;
  height:16px;
}
#u20129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u20130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20130 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:124px;
  width:342px;
  height:60px;
}
#u20131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u20132 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:124px;
  width:60px;
  height:60px;
}
#u20133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u20134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20134 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:135px;
  width:179px;
  height:16px;
}
#u20135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u20136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20136 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:195px;
  width:57px;
  height:16px;
}
#u20137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u20138 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:161px;
  width:74px;
  height:16px;
  font-size:14px;
}
#u20139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u20140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u20140 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:193px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u20141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20142 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:221px;
  width:43px;
  height:16px;
}
#u20143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u20144 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:221px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u20145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20146 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:221px;
  width:73px;
  height:16px;
}
#u20147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u20148 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:99px;
  width:131px;
  height:16px;
}
#u20149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u20150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u20150 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:246px;
  width:343px;
  height:1px;
}
#u20151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20152 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:286px;
  width:181px;
  height:37px;
}
#u20153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u20154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20154 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:286px;
  width:180px;
  height:37px;
}
#u20155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u20156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u20156 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:256px;
  width:59px;
  height:20px;
  text-align:center;
}
#u20157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u20158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u20158 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:256px;
  width:103px;
  height:20px;
  text-align:center;
}
#u20159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u20160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20161 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:689px;
  width:181px;
  height:40px;
}
#u20162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u20163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20163 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:689px;
  width:180px;
  height:40px;
  font-size:14px;
}
#u20164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u20165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20165 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:540px;
  width:15px;
  height:15px;
}
#u20166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20167 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:540px;
  width:67px;
  height:16px;
}
#u20168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u20169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20169 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:540px;
  width:57px;
  height:16px;
}
#u20170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:88px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20171 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:566px;
  width:325px;
  height:88px;
}
#u20172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20173 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:575px;
  width:183px;
  height:16px;
}
#u20174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u20175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u20175 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:601px;
  width:162px;
  height:16px;
}
#u20176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u20177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20177 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:333px;
  width:15px;
  height:15px;
}
#u20178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20179 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:333px;
  width:67px;
  height:16px;
}
#u20180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u20181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u20181 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:333px;
  width:131px;
  height:16px;
  font-size:13px;
}
#u20182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u20183_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:166px;
}
#u20183 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:348px;
  width:4px;
  height:161px;
}
#u20184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20185 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:627px;
  width:249px;
  height:16px;
}
#u20186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u20187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:144px;
}
#u20187 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:356px;
  width:114px;
  height:143px;
}
#u20188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20189 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:509px;
  width:15px;
  height:15px;
}
#u20190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20191 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:509px;
  width:67px;
  height:16px;
}
#u20192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u20193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20193 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:509px;
  width:197px;
  height:16px;
}
#u20194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u20195_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:20px;
}
#u20195 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:524px;
  width:4px;
  height:15px;
}
#u20196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20198 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:465px;
  width:360px;
  height:264px;
}
#u20199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20200 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:480px;
  width:71px;
  height:16px;
}
#u20201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20202 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:510px;
  width:332px;
  height:161px;
}
#u20202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:161px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20203 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:689px;
  width:181px;
  height:40px;
}
#u20204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u20205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20205 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:689px;
  width:180px;
  height:40px;
  font-size:14px;
}
#u20206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u20207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20207 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:142px;
  width:30px;
  height:24px;
  font-size:20px;
}
#u20208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
