body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23954 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:50px;
  width:360px;
  height:640px;
}
#u23955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23958 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:55px;
  width:30px;
  height:30px;
}
#u23959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23960 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:62px;
  width:29px;
  height:16px;
}
#u23961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23962 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:62px;
  width:57px;
  height:16px;
}
#u23963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u23964 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:165px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u23965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u23966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23966 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:360px;
  height:223px;
}
#u23967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23968 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:650px;
  width:360px;
  height:40px;
}
#u23969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23970 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:650px;
  width:95px;
  height:40px;
}
#u23971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u23972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23972 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:310px;
  width:181px;
  height:37px;
}
#u23973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u23974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23974 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:310px;
  width:180px;
  height:37px;
}
#u23975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u23976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23976 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:365px;
  width:15px;
  height:15px;
}
#u23977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23978 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:365px;
  width:67px;
  height:16px;
}
#u23979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u23980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23980 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:365px;
  width:57px;
  height:16px;
}
#u23981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:92px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23982 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:391px;
  width:324px;
  height:92px;
}
#u23983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23984 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:400px;
  width:183px;
  height:16px;
}
#u23985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u23986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u23986 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:426px;
  width:162px;
  height:16px;
}
#u23987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u23988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23988 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:452px;
  width:249px;
  height:16px;
}
#u23989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u23990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23990 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:662px;
  width:182px;
  height:16px;
}
#u23991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u23992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23993 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:496px;
  width:360px;
  height:194px;
}
#u23994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23995 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:515px;
  width:57px;
  height:16px;
}
#u23996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23997 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:544px;
  width:211px;
  height:16px;
}
#u23998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u23999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23999 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:570px;
  width:327px;
  height:16px;
}
#u24000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u24001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24001 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:599px;
  width:191px;
  height:16px;
}
#u24002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u24003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24003 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:651px;
  width:181px;
  height:39px;
}
#u24004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u24005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24005 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:651px;
  width:180px;
  height:39px;
}
#u24006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u24007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u24007 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:99px;
  width:120px;
  height:16px;
}
#u24008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u24009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24009 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:124px;
  width:342px;
  height:60px;
}
#u24010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u24011 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:124px;
  width:60px;
  height:60px;
}
#u24012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u24013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24013 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:135px;
  width:179px;
  height:16px;
}
#u24014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u24015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24015 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:195px;
  width:57px;
  height:16px;
}
#u24016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u24017 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:161px;
  width:74px;
  height:16px;
  font-size:14px;
}
#u24018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u24019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u24019 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:193px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u24020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24021 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:246px;
  width:43px;
  height:16px;
}
#u24022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u24023 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:246px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u24024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24025 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:246px;
  width:73px;
  height:16px;
}
#u24026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u24027 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:99px;
  width:131px;
  height:16px;
}
#u24028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u24029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u24029 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:271px;
  width:343px;
  height:1px;
}
#u24030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24031 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:142px;
  width:30px;
  height:24px;
  font-size:20px;
}
#u24032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u24033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24033 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:221px;
  width:85px;
  height:16px;
}
#u24034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u24035 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:221px;
  width:35px;
  height:16px;
  font-size:14px;
}
#u24036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u24037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u24037 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:281px;
  width:93px;
  height:20px;
  text-align:center;
}
#u24038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u24039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u24039 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:281px;
  width:48px;
  height:20px;
  text-align:center;
}
#u24040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u24041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u24041 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:281px;
  width:72px;
  height:20px;
  text-align:center;
}
#u24042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
