body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24781 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:50px;
  width:360px;
  height:640px;
}
#u24782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24785 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:55px;
  width:30px;
  height:30px;
}
#u24786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24787 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:62px;
  width:29px;
  height:16px;
}
#u24788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24789 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:62px;
  width:57px;
  height:16px;
}
#u24790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
}
#u24791 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:252px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u24792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u24793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24793 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:88px;
  width:360px;
  height:223px;
}
#u24794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24795 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:310px;
  width:181px;
  height:37px;
}
#u24796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u24797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24797 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:310px;
  width:180px;
  height:37px;
}
#u24798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u24799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u24799 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:99px;
  width:120px;
  height:16px;
}
#u24800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u24801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24801 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:124px;
  width:342px;
  height:60px;
}
#u24802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u24803 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:124px;
  width:60px;
  height:60px;
}
#u24804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u24805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24805 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:135px;
  width:179px;
  height:16px;
}
#u24806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u24807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24807 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:195px;
  width:57px;
  height:16px;
}
#u24808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u24809 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:161px;
  width:74px;
  height:16px;
  font-size:14px;
}
#u24810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u24811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u24811 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:193px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u24812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24813 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:246px;
  width:43px;
  height:16px;
}
#u24814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u24815 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:246px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u24816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24817 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:246px;
  width:73px;
  height:16px;
}
#u24818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u24819 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:99px;
  width:131px;
  height:16px;
}
#u24820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u24821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u24821 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:271px;
  width:343px;
  height:1px;
}
#u24822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u24823 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:142px;
  width:30px;
  height:24px;
  font-size:20px;
}
#u24824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u24825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24825 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:221px;
  width:85px;
  height:16px;
}
#u24826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u24827 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:221px;
  width:35px;
  height:16px;
  font-size:14px;
}
#u24828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u24829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24829 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:596px;
  width:15px;
  height:15px;
}
#u24830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24831 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:596px;
  width:67px;
  height:16px;
}
#u24832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u24833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24833 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:596px;
  width:57px;
  height:16px;
}
#u24834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:67px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24835 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:622px;
  width:321px;
  height:67px;
}
#u24836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24837 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:633px;
  width:209px;
  height:16px;
}
#u24838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u24839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u24839 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:659px;
  width:162px;
  height:16px;
}
#u24840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u24841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24841 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:422px;
  width:15px;
  height:15px;
}
#u24842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24843 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:422px;
  width:67px;
  height:16px;
}
#u24844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u24845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24845 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:422px;
  width:225px;
  height:16px;
}
#u24846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u24847_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:164px;
}
#u24847 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:437px;
  width:4px;
  height:159px;
}
#u24848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:138px;
}
#u24849 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:447px;
  width:100px;
  height:137px;
}
#u24850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:138px;
}
#u24851 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:447px;
  width:100px;
  height:137px;
}
#u24852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:138px;
}
#u24853 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:447px;
  width:100px;
  height:137px;
}
#u24854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u24855 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:281px;
  width:80px;
  height:20px;
  text-align:center;
}
#u24856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u24857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u24857 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:281px;
  width:48px;
  height:20px;
  text-align:center;
}
#u24858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:48px;
  word-wrap:break-word;
}
#u24859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24859 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:389px;
  width:15px;
  height:15px;
}
#u24860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24861 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:389px;
  width:67px;
  height:16px;
}
#u24862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u24863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24863 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:389px;
  width:183px;
  height:16px;
}
#u24864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u24865_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:23px;
}
#u24865 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:404px;
  width:4px;
  height:18px;
}
#u24866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u24867 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:281px;
  width:72px;
  height:20px;
  text-align:center;
}
#u24868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u24869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24869 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:357px;
  width:15px;
  height:15px;
}
#u24870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24871 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:357px;
  width:67px;
  height:16px;
}
#u24872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u24873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24873 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:357px;
  width:197px;
  height:16px;
}
#u24874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u24875_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:22px;
}
#u24875 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:372px;
  width:4px;
  height:17px;
}
#u24876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
