body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24476 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:50px;
  width:360px;
  height:640px;
}
#u24477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24480 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:55px;
  width:30px;
  height:30px;
}
#u24481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24482 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:62px;
  width:29px;
  height:16px;
}
#u24483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24484 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:62px;
  width:57px;
  height:16px;
}
#u24485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u24486 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:165px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u24487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u24488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24488 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:87px;
  width:358px;
  height:36px;
}
#u24489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u24490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:224px;
}
#u24490 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:132px;
  width:165px;
  height:223px;
}
#u24491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24492 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:329px;
  width:25px;
  height:26px;
}
#u24493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24494 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:650px;
  width:181px;
  height:40px;
}
#u24495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u24496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u24496 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:650px;
  width:180px;
  height:40px;
  font-size:14px;
}
#u24497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u24498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:224px;
}
#u24498 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:132px;
  width:165px;
  height:223px;
}
#u24499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24500 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:329px;
  width:25px;
  height:26px;
}
#u24501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:224px;
}
#u24502 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:371px;
  width:165px;
  height:223px;
}
#u24503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24504 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:568px;
  width:25px;
  height:26px;
}
#u24505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:224px;
}
#u24506 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:371px;
  width:165px;
  height:223px;
}
#u24507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24508 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:568px;
  width:25px;
  height:26px;
}
#u24509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
