body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:986px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 30px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow:0px 0px 30px rgba(0, 0, 0, 0.6);
  box-shadow:0px 0px 30px rgba(0, 0, 0, 0.6);
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:83px;
  width:754px;
  height:500px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:138px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:355px;
  width:732px;
  height:138px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:193px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:152px;
  width:732px;
  height:193px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:101px;
  width:99px;
  height:30px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:101px;
  width:99px;
  height:30px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u2168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:169px;
  width:57px;
  height:16px;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:165px;
  width:583px;
  height:25px;
}
#u2169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:216px;
  width:85px;
  height:16px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:212px;
  width:583px;
  height:25px;
}
#u2171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:261px;
  width:57px;
  height:16px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:378px;
  width:57px;
  height:16px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:421px;
  width:57px;
  height:16px;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:374px;
  width:583px;
  height:25px;
}
#u2175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:417px;
  width:583px;
  height:25px;
}
#u2176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:377px;
  width:17px;
  height:17px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:420px;
  width:17px;
  height:17px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:518px;
  width:164px;
  height:44px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u2180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:518px;
  width:164px;
  height:44px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  word-wrap:break-word;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:258px;
  width:583px;
  height:74px;
}
#u2181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:74px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:505px;
  width:127px;
  height:26px;
  text-align:center;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:437px;
  width:0px;
  height:0px;
}
#u2183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u2183_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:49px;
  width:9px;
  height:8px;
}
#u2183_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:49px;
  width:8px;
  height:36px;
}
#u2183_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:77px;
  width:22px;
  height:8px;
}
#u2183_seg4 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:71px;
  width:20px;
  height:20px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:452px;
  width:583px;
  height:25px;
}
#u2184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:518px;
  width:0px;
  height:0px;
}
#u2185_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u2185_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-45px;
  width:8px;
  height:49px;
}
#u2185_seg2 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-45px;
  width:5px;
  height:8px;
}
#u2185_seg3 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-51px;
  width:20px;
  height:20px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:53px;
  width:48px;
  height:31px;
  text-align:center;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
